/*
*  CSS SOMMAIRE
* 
*   1.0 commun
*     1.1 commun responsive
*   2.0 header nav
*     2.1 header nav responsive
*   3.0 slogant recurant avant le footer
*     3.1 slogant recurant responsive
*   4.0 footer
*     4.1 footer responsive
*   5.0 main commun
*     5.1 main responsive
*   6.0 commun carte page 02-03
*   7.0 body page-01 index
*     7.1 header du main page-01
*     7.2 centre du main page-01
*   8.0 body page-02 film
*   9.0 body page-03 séries
*     9.1. carouselle page-03
*   10.0 body page-04 musique
*   11.0 body page-05 infos
*    11.1 au centre du main page-05 annonce
*    11.2 footer du main contact page-05
*    11.3 page-05 responsive
*   12.0 body page-06 contact
*     12.10 header du main page-06
*     12.11 header du main page-06 responsive
*     12.20 centre du main page-06
*     12.21 fomulaire page-06
*     12.22 fomulaire page-06 responsive
*     12.3 footer du main page-06
*     12.40 partie avis page-06
*     12.41 partie avis page-06 responsive
*   13.0 main page07 quizz
*     13.1 main page07 quizz responsive
*   14.0 main page-08 ajout media
*     14.1 main-head partie haute page-08
*     14.2 main-head partie basse page-08
*     14.3 main partie affiche page-08
*     14.4 partie basse page-08
*   15.0 main page09 ajout media base de donnee
*     15.1 main ajout media base de donnee page-09
*     15.2 aside page-09 gestion media base de donnee page-09
*/


/* A-partie desktop */

/* 1.0 - commun*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.aside-back{
  background-color: #0c1e5e;
  color: white;
}
.majuscule{
text-transform:uppercase;
}
.saut-ligne{
  display:block;
  height: 15px;
}
.lien{
text-decoration:none;
color: black;
}   
.effet-lien {
  display: inline-block;
  width: 1.2em;
  border-bottom: 2px solid transparent;
  transition: all .2s ease-in-out;
}
.effet-lien:hover {
transform: scale(1.5);
border-bottom: 2px solid #FFDE59;
border-radius: 10px;
}
.titre-page{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10em;
}
.img{
  border: 1px solid black;
  border-radius: 15px;
}
.titre-categorie{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  height:20vh;
  font-size: 2em;
}
.box{
  display: flex;
  justify-content: space-around;
}
.slogan-rouge{
  color: #FFDE59;
  height: 7em;
  font-size: 1.5em;
}
.en-avant{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  font-size: 1.2em;
}
.affiche-legende{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nom-selection{
  font-size: 2em;
}
.date-selection{
  font-size: 1.5em;
}
.legende-selection{
  font-size: 1.1em;
}
.nom-affiche{
  font-size: 1.5em;
}
.box-image{
  display: flex;
  flex-wrap: wrap;
}
.block{
  width: 35%;
  height: 1em;
}
.zone-remplir{
  text-align: center;
  height: 2em;
  border: 1px solid black;
  border-radius: 7px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.5em;
    height: 2em;
    width: 4.5em;
    text-align: center;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.invisibility{
  visibility: hidden;
  display: none;
  margin: 0;
  padding: 0;
}
.invisibilityBtnEnvoyer{
  visibility: hidden;
}
.imgSugestion{
  height: 12em;
  width: 8em;
}
/*1.1 commun responsive*/

@media screen and (min-width:768px) {
  .lien-liste{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    line-height: 3em;
    list-style-type: none;
  }
  .bouton-up{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0em;
    top: 85%;
    height: 5em;
    width: 5em;
    border: 2px solid transparent;
    background-color: #FFDE59;
    color: #0c1e5e;
    opacity: 0;
  }
  .up{
    height: 4em;
  }
}
@media screen and (max-width:768px) {
  .lien-liste{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 3em;
    list-style-type: none;
  }
  .bouton-up{
    display: none;
    width: 0;
    overflow: hidden;
  }
}

/*2.0 header nav*/


header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:1%;
  font-size: 1.2em;
}
#logo-societe{
  flex:1;
  padding: 5px;
}
#logo-dessin{
  width: 10em;
  height:10em;
}
.barre-nav{
  flex:1;
}
.liste-nav{
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 8em; 
}
#page01 #lien-page01{
  display: none;
  width: 0;
  overflow: hidden;
}
#page02 #lien-page02{
  display: none;
  width: 0;
  overflow: hidden;
}
#page03 #lien-page03{
  display: none;
  width: 0;
  overflow: hidden;
}
#page04 #lien-page04{
  display: none;
  width: 0;
  overflow: hidden;
}
#page05 #lien-page05{
  display: none;
  width: 0;
  overflow: hidden;
}
#page06 #lien-page06{
  display: none;
  width: 0;
  overflow: hidden;
}
#page08 #lien-page08{
  display: none;
  width: 0;
  overflow: hidden;
}
#page09 #lien-page09{
  display: none;
  width: 0;
  overflow: hidden;
}

/* 2.1 header nav responsive*/

@media screen and (min-width:768px) {
  .header-mobile{
    display: none;
    width: 0;
    overflow: hidden;
  }
}
@media screen and (max-width:768px) {
  .header-desktop{
    display: none;
    width: 0;
    overflow: hidden;
  }
  .header-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .liste-nav_mobile{
    margin: 0 1em 1em 1em;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .barre-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}


/*3.0 slogant recurant avant le footer*/

.slogan-avant-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:10em;
  background-color: #0c1e5e;
  color: white;
}
.texte-slogan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.boite-ici{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  min-width: 4em;
  background-color: #C4C4C4;
  border:2px solid black;
}

/* 3.1 slogant recurant responsive*/

@media screen and (min-width:768px) {
  .slogan-avant-footer{ 
    font-size: 2em;    
  }  
}

/*4.0 footer*/

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2em;
}
.footer-main{
  display: flex;
  justify-content: space-around;
  height:15em;
}
.boite-liste{  
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footer-titre-liste{
  flex: 1;
  display: flex;
  align-items: center;
}
.liste-type{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bloc-reseau{
  display: flex;
  justify-content: space-between;
  width: 15%;
  min-width: 10em;
}
.reseau{
  height: 2.0em;
  width: 2.0em;
}
#contact{
  margin: 1em;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline ;
}

/* 4.1 footer responsive*/

@media screen and (min-width:768px) {
  .footer-aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:2em;
    color: grey;
  }  
}
@media screen and (max-width:768px) {
  .footer-aside{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    color: grey;
  }
  .copiright{
    font-size: 80%;
  }
}


/*5.0 main commun*/

main{
  display: flex;
  flex-direction: column;
  padding: 2% 0;
  color: white;
  background-color: #0c1e5e;
}

/* 5.1 main responsive*/

@media screen and (max-width:768px) {
  main{
    font-size: 70%;
  }  
}

/*6.0 commun carte page 02-03 */

.partie-trailer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 5em 0;
  padding: 0;
  background-color: #0c1e5e;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  grid-gap: 1em;
  margin: 0 auto;
  width: 100%;
}
.card{
  position: relative;
  height: 25em;
  width: 19em;
  margin: 0 auto;
  box-shadow: 0 1em 3.75em rgba(255,222,89,.30);
}
.card-detail{
  position: relative;
  height: 22em;
  width: 15em;
  margin: 0 auto;
}
.face{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.face1{
  box-sizing: border-box;
  background-color: #111;
}
.img-face1{
  margin: 0;
  padding: 0;
  width: 100%;
}
.face2{
  background-color: #111;
  transition: 0.5s;
}
.card:hover .face.face2{
  height: 3.75em;
}
.card-detail:hover .face.face2{
  height: 3.75em;
}
.face2:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.img-face2{
  margin: 0;
  padding: 0;
  font-size: 2em;
  height:100%;
  width:100%;
  border: 1px solid black;
  border-radius: 15px;
}

/* 7.0 body page-01 index */

/* header du main page-01*/

#page01 .title{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  height:10em;
}
#page01 .question-h2{
  font-size: 3em;
}
#page01 .slogan{
  font-size: 1.7em;
}

/* 7.2 centre du main page-01*/

#page01 #details{
  flex: 5;
  display: flex;
  flex-direction: column;
}
#page01 .entete-categorie{
  display: flex;
  align-items: center;
  margin: 0 30px;
  height:15em;
}
#page01 .titre-entete{
  flex:9;    
  font-size: 2em;
}
#page01 .plus{
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;
  height:15%;
  min-width: 5em;
  font-size: 1.2em;
  background-color: #C4C4C4;
  border:2px solid black;
}
#page01 .liste-contenu{
  display: flex;
  justify-content: space-around;
} 
#page01 .video{
  height:25em;
  width:19em;
}
#page01 .audio{
  height:15em;
  width:15em;
}
#page01 .effet-affiche {
  display: inline-block;
  margin-bottom: 3em;
  transition: all .2s ease-in-out;
}
#page01 .effet-affiche:hover {
  border: 2px solid #FFDE59;
  border-radius: 10px;
  transform: scale(1.5);
}

/* 8.0 body page-02 film */

#page02 .img-choix-film{
  height: 22em;
  width: 15em;
}

/* 9.0 body page-03 séries */

#page03 main{
  align-items: center;
  text-align: center;
}
.img-select-chef-series{
  height:20em;
  width:15em;
  border: 1.5px solid #FFDE59;
  border-radius: 5px;
}
.container-slide{
  max-width: 75%;
  margin: 0 auto;
  padding: 3em;
}
.slider{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.suivant{
  animation: fade 1s;
}
@keyframes fade{
  from{
    opacity: -1;
    margin-left: 100%;
  }
  to{
    opacity: 1;
    margin-left: 0%;
  }
}
.precedent{
  animation: fadeRetour 1s;
}
@keyframes fadeRetour{
  from{
    opacity: -1;
    margin-right: 100%;
  }
  to{
    opacity: 1;
    margin-right: 0%;
  }
}
.inactive{
  display: none;
}
.transition{
  animation: disparition 1s;
}
@keyframes disparition{
  from{
    opacity: 1;
    margin-right: 0%;
  }
  to{
    opacity: 0;
    margin-right: 100%;
  }
}
.img-slider{
  max-width: 100%;
  height: 25em;
  width: 18.5em;
}
.legende-slide{
  margin: 1em;
  width: 15em;
  height: 2.5em;
  font-size: 1.5em;
  text-align: center;
}
.box-fleche{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 1px solid #FFDE59;
  box-shadow: 0.25em 0.25em 1em 0px  rgba(255,222,89,.30);
}
.btn-fleche{
  font-size: 1.5em;
  margin: 0 1.5em;
  cursor: pointer;
}

/* 10.0 body page-04 musique */

#page04 .image-musique-populaire{
  width:17em;
  height:17em;
  margin: 0.5em;
}
#page04 .image-musique{
  width:11em;
  height:11em;
  margin: 0.5em;
}

/* 11.0 body page-05 infos */

#page05 .main-header{
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 5%;
  color: white;
  background-color: #0c1e5e;
}
#page05 .slogan-infos{
  justify-content: center;
  align-items: center;
  height: 15em;
}
#page05 .check{
  width:2.5em;
  height:2.5em;
}
#page05 .refus{
  width:2em;
  height:2em;
}
#page05 .offre-compte{
  display: flex;
  justify-content: space-around;
  align-items: center;  
  margin:1.5em 0;
  border-spacing: 0px;
}
#page05 .tableau{
  border: 1px solid #FFDE59;
}
#page05 .colone{
  font-size: 1.5em;
}
#page05 .cellule{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  font-size: 1.3em;
}
#page05 .colone{
  text-align: center;
  width: 7em;
}
#page05 .attribut{
  color: #FFDE59;
}

/* 11.1 au centre du main page-05 annonce*/

#page05 #contenu-centre-part1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15em;
  font-size: 1.7em;
}
#page05 #leeloo{
  width: 15em;
  height: 9em;
}
.img-mascote{
  height: 7em;
}
#page05 #contenu-centre-part2{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.7em;
  width: 100%;
  margin-bottom: 5em;
}
.lien-quizz{
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 1em 0;
  color: black;
  text-decoration: none;
}
.bulle-info{
  margin-left: 3em;
  background-color: #FFDE59;
  border: 1px solid black;
  border-radius: 15px;
}

/* 11.2 footer du main contact page-05*/

#boite-contact{
  text-align: center;
  padding-bottom: 5%;
  color: white;
  background-color: #0c1e5e;
}
#box-photo{
  flex:1;
}
#page05 #article1-aside{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5em;
}
.lien-contact{
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 15%;
  margin: 0.7em 0;
  color: black;
  text-decoration: none;
  background-color: #FFDE59;
  border: 1px solid black;
  border-radius: 15px;
}
#lien-mail{
  text-decoration: none;
  color: white;
}
#page05 #box-reseau{
  flex:1;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#page05 .reseau-infos{
  width: 1.8em;
  height: 1.8em;
}
#page05 #article2-aside{ 
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
#page05 #map{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 25em;
}
#page05 #texte-map{
  margin-bottom: 2em;
  font-size: 2em;
}

/* 11.3 page-05 responsive*/

@media screen and (min-width:820px) {
  .tab-offre-responcive{
    display: none;
    width: 0;
    overflow: hidden;
  }
  #page05 #boite-texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 50%;
    font-size: 2.0em;
  }
  #page05 #photo-magasin{
    height: 25em;
  }
  #page05 #article1-aside{
    padding: 0 5em;
  }
}
@media screen and (max-width:820px) {
  .tab-offre{
    display: none;
    width: 0;
    overflow: hidden;
  }
  .tab-offre-responcive{
    text-align: center;
  }
  #page05 #photo-magasin{
    width: 80%;
  }
  #page05 #boite-texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
  }
  #article1-aside{
    flex-direction: column;
  }
}

/* 12.0 body page-06 contact */

.titre-h2{
  display: flex;
  text-align: center;
}

/* 12.10 header du main page-06*/

.box-haut-page06{
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}
.titre-page06{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.texte-titre-page06{
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 7em;
}
.logo-popcorn{
  height: 5em;
}
/* 12.11 header du main page-06 responsive*/
@media screen and (min-width:768px) {
  .titre-page06{
    width: 80%;
  }
  .image-cinema{
    width: 30%;
  }
#page05 #photo-magasin{
  height: 25em;
}
}
@media screen and (max-width:768px) {
  .titre-page06{
    width: 100%;
  }
  .image-cinema{
    width: 45%;
  }
}

/* 12.20 centre du main page-06*/

/*commun a tous les formulaires*/
.boite-formulaire{
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #FFDE59;
  border-radius: 10px;
}
.validation{
  width: 7em;
  height: 2em;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
}
.checkbox{
  cursor: pointer;
}
/* 12.21 fomulaire page-06*/
.box-general-connexion{
  display: flex;
  margin: 3% 0;
  font-size: 1.3em;
}
.box-connexion{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
  width: 90%;
}
.formulaire-connexion{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}
.champ{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1%;
}
.reinitialisation{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90%;
  margin-top: 2%;
}
.formulaire-mdp-oublier{
  background-color: transparent;
  padding: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1%;
}
.champ-mdp-oublier{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
}
.box-inscription{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.champ-inscription{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0;
}
.zone-age{
  margin: 1% 0;  
}
/* 12.22 fomulaire page-06 responsive*/
@media screen and (max-width:768px) {
  .box-general-connexion{
  display: flex;
  flex-direction: column;
  }
}

/* 12.40 partie avis page-06*/

.section-bas-page-06{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 3%;
}
.box-image-tele{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.image-tele{
  width: 80%;  
}
.box-avis{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 20em;
}
.box-legende-avis{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.box-saisie-avis{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.textarea-avis{
  height: 15em;
  width: 25em;
}
/* 12.41 partie avis page-06 responsive*/

@media screen and (max-width:768px) {
  .section-bas-page-06{
    display: flex;
    flex-direction: column;
  }
}

/* 13.0 main page07 quizz*/

.quizz{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #0c1e5e;
}
.img-pop{
  height: 3em;
}
.entete-quizz{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 5em;
  height: 10em;
  width: 100%;
  font-size: 1.7em;
}
.titre-page-quizz{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;

}
.titre-quizz{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 1em;
  height: 2.5em;
  text-align: center;
  background-color: #0c1e5e;
  border: 1px solid #FFDE59;
  border-radius: 8px;  
}
.img-quizz{
  margin-bottom: 1em;
  width: 12.5em;
}
.box-section-quizz{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0;
  width: 100%;
}
.question-quizz{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.box-reponse{
  display: flex;
  align-items: center;
  margin: 5% 1%;
  height: 4.5em;
  width: 90%;
  border: 1px solid #FFDE59;
  border-radius: 5px;  
  cursor: pointer;
}
.contenu-rep{
  margin: 5%;
  font-size: 0.7em;
}
.btn-quizz{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  padding: 0.5em;
  min-height: 3em;
  border: 2px solid black;
  border-radius: 15px;  
  cursor: pointer;
  font-size: 1em;

}
.btn-start-modal{
  background-color: #FFDE59;
}
.btn-valider{
  background-color: #ffde59be;
  border: 2px solid black;
}
.precision{
  font-size: 0.7em;
}
.lancement-quizz{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 35em;
  width: 100%;
  font-size: 1.7em;
  background-image: url("../img/page-07-quizz/cinema.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block-haut-quizz{
  height: 1em;
}
.dialogue{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6em;
  width: 30%;
}
.dial__visibility{
  display: flex;
}
.dial__hidden{
  display: none;
}

/*13.1 quizz modale*/

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn .3s both;
}
.modal-wrapper{
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  font-size: 1.7em;
  color: white;
  background-color: #0c1e5e;
  border: 2px solid #FFDE59;
  border-radius: 8px;  
  animation: slideFromRigth .3s both;
}
.modal[aria-hidden="true"]{
  animation-name: fadeOut;
}
.modal[aria-hidden="true"] .modal-wrapper{
  animation-name: slideFromLeft;
}
.box-quizz{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin:1em 0;
  width: 40%;
  font-size: 1.7em;
}
.box-question-quizz{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
}
@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes fadeOut{
  from{opacity: 1;}
  to{opacity: 0;}
}
@keyframes slideFromRigth{
  from{transform: translateX(-50px);}
  to{transform: translateX(0px);}
}
@keyframes slideFromLeft{
  from{transform: translateX(0px);}
  to{transform: translateX(50px);}
}

/* 13.1 main page07 quizz responsive*/

@media screen and (min-width:768px) {
}
@media screen and (max-width:768px) {
}

/* 14.0 main page-08 ajout media */
/* 14.1 main-head partie haute page-08*/

#page08_main{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2em;
  font-size: 1.2em;
}
.main_main-contenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 2em;
}
.main-contenu_newMedia{
  margin-top: 2em;
  width: 100%;
}
#main-contenu_box-haut{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#main-contenu_box-bas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box-haut_contain{
  display: flex;
  flex-direction: column;
  width: 45%;
}
.contain_boxlist{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}
.box-haut_contain2{
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
.boxlist_list{
  width: 15em;
}

/* 14.2 main-head partie basse page-08*/
.box-bas_contain{
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  min-width: 40%;
  max-width: 25em;
  margin: 0.5em;
}
.zone-film{
  width: 40%;
  margin: 0.5em;
}
.btn-new-media{
  margin-bottom: 2em;
}

/* 14.3 main partie affiche page-08*/
.main_affiche{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 15em;
  width: 90%;
  padding: 2.5em 1%;
}
.affiche_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.container_selection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1em;
  padding: 0.5em;
  cursor: pointer;
}
.container_selection:hover, .liste-ba_vid:hover{
  border: 2px solid #FFDE59;
  border-radius: 10px;
  transform: scale(1.25);
}
.selection_img{
  height: 15em;
  width: 10em;
}
.selection_titre{
  font-size: 1.4em;
  margin: 0.2em;
}

/* 14.4 partie basse page-08*/
.main_ba{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 10em;
  width: 90%;
  padding: 2.5em 1%;
}
.ba_liste-ba{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
}
.liste-ba_vid{
  margin: 2em 1em;
}
.vid{
  height: 10.1em;
  width: 18em;
}
.legende_texte{
  font-size: 1.2em;
  margin: 0.25em;
}
.sous-titre{
  margin: 2em;
}
.btn-send{
  font-size: 1.3em;
}
.js___select,  .js___BAselect{
  border: 2px solid #FFDE59;
  border-radius: 10px;
  transform: scale(1.10);
  background-color: rgba(255, 255, 255, 0.1);
}
.modal-ajoutBDD{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  width: 600px;
  padding: 20px;
  font-size: 1.3em;
  color: white;
  background-color: #0c1e5e;
  border: 2px solid #FFDE59;
  border-radius: 8px;  
  animation: slideFromRigth .3s both;
}
.modal[aria-hidden="true"] .modal-ajoutBDD{
  animation-name: slideFromLeft;
}

/* 15.0 body gestion media base de donnee page-09*/
/* 15.1 main ajout media base de donnee page-09*/
#page09_main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2em;
}
#main09{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
.boxlistP9{
  display: flex;
  justify-content: space-around;
  width: 40%;
}
/* 15.2 aside page-09 gestion media base de donnee page-09*/

#page09_aside{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2.5em;
}
.box-search{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2em;
  width: 80%;
}
.aside09__film-select{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 1em;
  height: 25em;
}
.select-action{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 2em;
  width: 100%;
}
.action__boxAction{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 2em;
  width: 80%;
}
.boxAction_contain{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
  width: 80%;
}
.synopsis{
  display:block;
  height:5em;
  width: 15em;
  overflow-y: auto;
  font-size: 0.9em;
}
.synopsis::-webkit-scrollbar {
  width: 0.2em;
} 
.synopsis::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(12, 30, 94, 0.3);
}
.synopsis::-webkit-scrollbar-thumb {
  background-color: #FFDE59;
  outline: 1px solid slategrey;
}